body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.firstheader{
    position: sticky;
    top:0;
    background-color: white;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    z-index: 10;
}
.secondheader{
    background-color: white;
    position: sticky;
    top:80px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom :15px;
    padding-top: 30px;
    display: flex;
    gap: 38px;
    justify-content: space-between;
    z-index: 9;
}

.logo{
    width: 110px;
    height: 32px;
}

.nav-center{
    margin-left: 175px;
    display: flex;
    gap: 12px;
    border: 1px solid lightgray;
    border-radius: 25px;
    align-items: center;
    padding: 12px;
    width: 335px;
    justify-content: space-between;
    padding-left: 25px;
    
}
.line{
    border: 0.05px solid lightgrey;
    height: 25px;
}
.search{
    width: 15px;
    height: 15px;
    padding: 7px;
    color: white;
    background-color: rgb(225,56,92);
    border-radius: 50%;
}
.number{
    color: grey;
}
.left-corner{
    display: flex;
    gap: 12px;
}
.join{
    border:0;
    background-color: white;
    font-weight: 500;
}
.world{
    border: 0;
    background-color: white;
}
.user{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    padding: 8px;

}
.more{
    height: 15px;
}
.type-icon{
    width: 30px;
    height: 30px;
}
.type-name{
    font-size: 10px;
    color: grey;
    text-align: center;
    font-weight: 600;
}
.type{
    display: grid;
    justify-items: center;
}
.filter-detials{
    display: flex;
    gap:25px;
}
.arrow{
    height: 42px;
    margin-top: 10px;
}

.filter-knob{
    height: 42px;
    display: flex;
    border: 1px solid lightgrey;
    align-items: center;
    gap: 5px;
    padding : 1px 13px;
    border-radius: 15px;
}
.filter-icon{
    height: 14px;
}
.filter-title{
    font-size: 12px;
    font-weight: 500;
}
.taxes{
    border: 1px solid lightgrey ;
    height: 42px;
    padding: 2px 12px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 8px
}
.tax-desc{
    font-size: 12px;
    font-weight: 500;
}
.tax-slider{
    height: 42px;
}

.arrow{
    height: 13px;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 50%;
}
.parent-img{
    width: 250px;
    position: relative;
}
.child-remarks{
    position: absolute;
    top:0;
    right:0;
    margin-right: -22px;
    padding-top: 15px
}
.hotel-img{
    width: 290px;
    height: 260px;
    border-radius: 14px;
    margin-bottom: 0px;
}
.heart{
    height: 25px;
    stroke: white;
    stroke-width: 2px;
}
.locaiton{
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 2px;
}
.distance{
    color: grey;
    margin: 0px;
}
.duration{
    color: grey;
    margin: 0;
}
.price{
    margin-top: 10px;
}

.hotel-collection{
    display: flex;
    flex-wrap: wrap;
    gap : 30px;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.show_map{
    display: flex;
    gap: 8px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 25px;
    justify-content: center;
    width: 132px;
    padding: 12px;
    position: fixed;
    bottom: 38px;
    left:45%
}

.map_img{
    height: 22px;
    fill: white
}
